<nav class="bg-gray-800 p-4">
    <ul class="flex space-x-4">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="text-white hover:text-gray-400">Home</a></li>
        <li><a routerLink="/houses" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="text-white hover:text-gray-400">Houses</a></li>
        <li><a routerLink="/devices" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="text-white hover:text-gray-400">Devices</a></li>
        <li><a routerLink="/messages" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="text-white hover:text-gray-400">Messages</a></li>
    </ul>
</nav>
