<div class="justify-center">
    <table class="table-auto w-full max-w-4xl">
        <thead>
            <tr class="bg-gray-200">
                <th class="px-4 py-2">Column 1</th>
                <th class="px-4 py-2">Column 2</th>
                <th class="px-4 py-2">Column 3</th>
                <th class="px-4 py-2">Column 3</th>
            </tr>
        </thead>
        <tbody>
            @for (message of this.messageList; track message.id) {
            <tr class="bg-white border-b">
                <app-message [message]="message"></app-message>
            </tr>
            }
        </tbody>
    </table>
    <div class="w-full max-w-4xl mt-8 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <form (ngSubmit)="onSubmit()" #deviceForm="ngForm">
            <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="header">
                Header
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="header" type="text" placeholder="Enter header">
            </div>
            <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="message">
                Message
            </label>
            <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="message" placeholder="Enter message"></textarea>
            </div>
            <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="bearerToken">
                Bearer Token
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="bearerToken" type="text" placeholder="Enter bearer token">
            </div>
            <div class="flex justify-end">
            <button type="submit" [disabled]="!deviceForm.form.valid || isSubmitted"
            class="text-white bg-blue-700 enabled:hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center disabled:opacity-75">Add</button>
            </div>
        </form>
    </div>
</div>